
@{
    ViewData["Title"] = "CartEmpty";
}

@if (TempData.ContainsKey("orderConfirmed"))
{
    <div class="alert alert-success">@TempData["orderConfirmed"]</div>
}

@if (TempData.ContainsKey("cancelledOrder"))
{
    <div class="alert alert-danger">@TempData["cancelledOrder"]</div>
}

<h1>Your cart is empty</h1>

<a href=@Url.Action("Create", "Reports")>Report a problem</a>
