@using Microsoft.AspNetCore.Identity
@model FeedTN.Models.OrderViewModels.OrderDetailViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>My Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lineItem in Model.LineItems) 
        {
            <tr>
                <td>
                    <form asp-controller="UserMenuItems" asp-action="Delete" asp-route-Id="@lineItem.MenuItem.MenuItemId">
                        <input type="image" src="~/staticImages/trash-can.svg" class="btn"/>
                    @lineItem.MenuItem.Title
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>Your address on file is <strong>@UserManager.GetUserAsync(User).Result.Address</strong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<form asp-Controller="Orders" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Order.OrderId" />
    <div class="form-group">
        <input type="submit" class="btn btn-success bg-success border-success" value="Place Your Order" />
    </div>
</form>

<form asp-controller="Orders" asp-action="Delete" method="post">
    <input type="submit" class="btn btn-danger bg-danger border-danger" value="Cancel" />
</form>
