@model FeedTN.Models.ReportViewModels.CreateReportViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Report a Problem</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Report.Description" class="control-label">Describe the issue below.</label>
                <textarea asp-for="Report.Description" class="form-control"></textarea>
                <span asp-validation-for="Report.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>