@model FeedTN.Models.Report

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@if (TempData.ContainsKey("commentConfirmed"))
{
    <div class="alert alert-success">@TempData["commentConfirmed"]</div>
}

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportId" class="control-label"></label>
                <input asp-for="ReportId" disabled="disabled" class="form-control" />
                <input asp-for="ReportId" type="hidden" />
                <span asp-validation-for="ReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" disabled="disabled" class="form-control" />
                <input asp-for="Description" type="hidden" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" disabled="disabled" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    <input asp-for="Active" type="hidden" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" disabled="disabled" class="form-control" />
                <input asp-for="UserId" type="hidden" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="Resolve">
            <input asp-for="ReportId" type="hidden" />
            <input asp-for="Description" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Comments" type="hidden" />
            @if (Model.Active == true)
            {
            <div class="form-group">
                <input type="submit" value="Mark as Complete" class="btn btn-primary" />
            </div>
            }
        </form>
        @if (Model.Active == false)
        {
            <form asp-action="Reopen">
                <input asp-for="ReportId" type="hidden" />
                <input asp-for="Description" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <input asp-for="Comments" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Reopen Issue" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

